!/photo_gallery/
/photo_gallery/*

!/photo_gallery/image_keep.png
!/photo_gallery/1.jpg
!/photo_gallery/2.jpg
!/photo_gallery/3.jpg
!/photo_gallery/4.jpg
!/photo_gallery/5.jpg
!/photo_gallery/6.jpg
!/photo_gallery/7.jpg
!/photo_gallery/8.jpg
!/photo_gallery/9.jpg
!/photo_gallery/10.jpg
!/photo_gallery/11.jpg
!/photo_gallery/12.jpg
!/photo_gallery/13.jpg
!/photo_gallery/14.jpg
!/photo_gallery/15.jpg
!/photo_gallery/16.jpg
!/photo_gallery/17.jpg
!/photo_gallery/18.jpg
!/photo_gallery/19.jpg
!/photo_gallery/20.jpg
!/photo_gallery/21.jpg
!/photo_gallery/22.jpg
!/photo_gallery/23.jpg
!/photo_gallery/24.jpg
